.paginationContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.paginationContainer button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  color: #515151;
  font-size: 20px;
  font-weight: 400;
  transition: "0.3s";
  cursor: pointer;
}
