.flex {
  display: flex;
}
.modal_container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.527);
  align-items: center;
  justify-content: center;
}
.label {
  flex-direction: column;
  gap: 10px;
  color: #35536b;
  font-size: 20px;
  font-weight: 400;
}
.modal {
  width: 600px;
  height: 335px;
  border-radius: 20px;
  background-color: #fff;
  padding: 32px;
}
.form {
  flex-direction: column;
  gap: 28px;
}
.title {
  justify-content: space-between;
}

.button {
  width: 260px;
  height: 56px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.button_block {
  justify-content: space-between;
}
.border {
  background-color: transparent;
  border: 2px solid #35536b;
  color: #35536b;
}
.fill {
  background-color: #35536b;
  border: none;
  color: #fff;
}
