.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
  padding-inline: 20px;
}

hr {
  height: 1px;
  background-color: #35536b6a;
  width: 100%;
  border: none;
}
